# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test

# Output of go build
/microtask-api

# IDE/editor configs
.vscode/
.idea/

# OS junk
.DS_Store
Thumbs.db

# SQLite DB files
*.db

# Personal Notes
notes.txt